# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
**/build
**/dist

# Environment files
.env
**/env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
*.npm
**/npm
# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# Misc
.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local 
